{
  "openapi": "3.1.0",
  "info": {
    "title": "O Meu Banco Public API",
    "version": "1.0.0",
    "description": "Public API description for the O Meu Banco backend."
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://api.omeubanco.xyz",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Health"
    },
    {
      "name": "Auth"
    },
    {
      "name": "Subscription"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": ["Health"],
        "summary": "Health check",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Service health payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": ["status", "timestamp"]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/register": {
      "post": {
        "tags": ["Auth"],
        "summary": "Register a family owner account",
        "operationId": "registerFamily",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Family created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFamilyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "Login as family owner or guardian",
        "operationId": "loginFamily",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated family session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFamilyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/child-login": {
      "post": {
        "tags": ["Auth"],
        "summary": "Login as child with PIN",
        "operationId": "loginChild",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChildLoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated child session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthChildResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/subscription": {
      "get": {
        "tags": ["Subscription"],
        "summary": "Get subscription status and plan limits",
        "operationId": "getSubscription",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      }
    },
    "/api/v1/subscription/limits": {
      "get": {
        "tags": ["Subscription"],
        "summary": "Get plan limits and current usage",
        "operationId": "getSubscriptionLimits",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Usage and limits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "RegisterRequest": {
        "type": "object",
        "properties": {
          "bankName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          },
          "currency": {
            "type": "string",
            "example": "BRL"
          },
          "locale": {
            "type": "string",
            "example": "pt-BR"
          },
          "timezone": {
            "type": "string",
            "example": "America/Sao_Paulo"
          }
        },
        "required": ["bankName", "email", "password", "currency", "locale", "timezone"],
        "additionalProperties": false
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          }
        },
        "required": ["email", "password"],
        "additionalProperties": false
      },
      "ChildLoginRequest": {
        "type": "object",
        "properties": {
          "childId": {
            "type": "string"
          },
          "pin": {
            "type": "string"
          }
        },
        "required": ["childId", "pin"],
        "additionalProperties": false
      },
      "AuthFamilyResponse": {
        "type": "object",
        "properties": {
          "family": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "currency": {
                "type": "string"
              },
              "locale": {
                "type": "string"
              },
              "timezone": {
                "type": "string"
              }
            },
            "required": ["id", "name", "currency", "locale", "timezone"]
          },
          "token": {
            "type": "string"
          },
          "isNewUser": {
            "type": "boolean"
          }
        },
        "required": ["family", "token", "isNewUser"]
      },
      "AuthChildResponse": {
        "type": "object",
        "properties": {
          "child": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "avatarUrl": {
                "type": ["string", "null"],
                "format": "uri"
              },
              "balance": {
                "type": "integer"
              }
            },
            "required": ["id", "name", "avatarUrl", "balance"]
          },
          "token": {
            "type": "string"
          }
        },
        "required": ["child", "token"]
      }
    }
  }
}
